.cabecalho{
  padding: 2rem;
  background-image: url('../../../public/images/banner1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  text-align: right;
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.subTitle{
  text-align: right;
  margin-right: 1rem;
}
.botao{
  text-align: right;
  margin: 3rem 1rem;
}
.precos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  flex-wrap: wrap;
}